{
  "openapi": "3.1.0",
  "info": {
    "version": "0.0.1",
    "title": "Dino API",
    "description": "Dino provides governed spend for agents and programmable business-finance APIs. The flagship public flow is Dino spending keys against /v1 for policy, approvals, and ledger-backed spend requests.\n\n**Scalar sidebar:** *Agent Bank* — spend, checkout, cross-team transfers, crypto payouts (Solana USDC), treasury. *Books* — accounting REST (transactions, invoices, bank accounts, reports, inbox, …). *Workspace* — OAuth, teams, tracker, webhooks, integrations. OAuth access tokens from `/oauth/token` work on **protected** routes (e.g. `/treasury/*`); they are **not** accepted on public `/v1` spend routes—use a `din_…` spending key or scoped `dba_…` team API key there.\n\n**New to agent spend?** Copy-paste shell, minimal Node harness, and tool-boundary rules: [Agent integration starter](https://dino.id/docs/agent-integration-starter).\n**Solana USDC payouts:** public `/v1/crypto/*` guide: [Crypto payouts API — Solana USDC](https://dino.id/docs/crypto-payouts-api-v1-solana-usdc).",
    "contact": {
      "name": "Dino Support",
      "email": "engineer@dino.id",
      "url": "https://dino.id"
    }
  },
  "servers": [
    {
      "url": "https://api.dino.id",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "token": []
    },
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Agent spend",
      "description": "Governed spend for agents using Dino spending keys, policy evaluation, approvals, and ledger-backed audit trails. Runnable shell + localhost harness: see Agent integration starter in product docs (linked from the API introduction above).",
      "x-scalar-order": [
        "dino-api/tag/agent-spend/GET/v1/balance",
        "dino-api/tag/agent-spend/GET/v1/accounts",
        "dino-api/tag/agent-spend/GET/v1/accounts/{id}"
      ]
    },
    {
      "name": "Spend requests",
      "description": "Public `/v1/spend-requests` and related spend decision APIs (Dino spending key or scoped team API key).",
      "x-scalar-order": [
        "dino-api/tag/spend-requests/POST/v1/spend-requests",
        "dino-api/tag/spend-requests/GET/v1/spend-requests",
        "dino-api/tag/spend-requests/POST/v1/spend-requests/{id}/cancel",
        "dino-api/tag/spend-requests/GET/v1/spend-requests/{id}/ledger",
        "dino-api/tag/spend-requests/GET/v1/spend-requests/{id}"
      ]
    },
    {
      "name": "Checkout",
      "description": "JIT purchase / checkout intents and card credential flows on `/v1/checkout/*`.",
      "x-scalar-order": [
        "dino-api/tag/checkout/POST/v1/checkout/intents",
        "dino-api/tag/checkout/POST/v1/checkout/intents/{id}/authorize",
        "dino-api/tag/checkout/POST/v1/checkout/intents/{id}/issue-credential",
        "dino-api/tag/checkout/GET/v1/checkout/intents/{id}"
      ]
    },
    {
      "name": "Cross-team transfers",
      "description": "Workspace-to-workspace balance moves and payment-code flows under `/v1/transfers/*`.",
      "x-scalar-order": [
        "dino-api/tag/cross-team-transfers/GET/v1/transfers/receive-address",
        "dino-api/tag/cross-team-transfers/GET/v1/transfers/payment-codes/resolve",
        "dino-api/tag/cross-team-transfers/GET/v1/transfers/receive-address/resolve",
        "dino-api/tag/cross-team-transfers/POST/v1/transfers/payment-codes",
        "dino-api/tag/cross-team-transfers/POST/v1/transfers",
        "dino-api/tag/cross-team-transfers/GET/v1/transfers",
        "dino-api/tag/cross-team-transfers/GET/v1/transfers/{id}",
        "dino-api/tag/cross-team-transfers/POST/v1/transfers/{id}/accept",
        "dino-api/tag/cross-team-transfers/POST/v1/transfers/{id}/decline",
        "dino-api/tag/cross-team-transfers/POST/v1/transfers/{id}/cancel"
      ]
    },
    {
      "name": "Treasury",
      "description": "Team-scoped treasury helpers (accounts, approvals, ledger) for agent spend — OAuth / session APIs under `/treasury/*`.",
      "x-scalar-order": [
        "dino-api/tag/treasury/GET/treasury/rails",
        "dino-api/tag/treasury/POST/treasury/rails/financial-account",
        "dino-api/tag/treasury/GET/treasury/accounts",
        "dino-api/tag/treasury/GET/treasury/approvals",
        "dino-api/tag/treasury/POST/treasury/approvals/{id}/approve",
        "dino-api/tag/treasury/POST/treasury/approvals/{id}/decline",
        "dino-api/tag/treasury/GET/treasury/ledger",
        "dino-api/tag/treasury/GET/treasury/keys",
        "dino-api/tag/treasury/DELETE/treasury/keys/{id}",
        "dino-api/tag/treasury/GET/treasury/wallet",
        "dino-api/tag/treasury/GET/treasury/funding-sources",
        "dino-api/tag/treasury/POST/treasury/deposit"
      ]
    },
    {
      "name": "Bank Accounts",
      "description": "Manage bank accounts",
      "x-scalar-order": [
        "dino-api/tag/bank-accounts/GET/bank-accounts",
        "dino-api/tag/bank-accounts/POST/bank-accounts",
        "dino-api/tag/bank-accounts/GET/bank-accounts/{id}",
        "dino-api/tag/bank-accounts/PATCH/bank-accounts/{id}",
        "dino-api/tag/bank-accounts/DELETE/bank-accounts/{id}"
      ]
    },
    {
      "name": "Customers",
      "description": "Manage customers",
      "x-scalar-order": [
        "dino-api/tag/customers/GET/customers",
        "dino-api/tag/customers/POST/customers",
        "dino-api/tag/customers/GET/customers/{id}",
        "dino-api/tag/customers/PATCH/customers/{id}",
        "dino-api/tag/customers/DELETE/customers/{id}"
      ]
    },
    {
      "name": "Desktop",
      "description": "Desktop app endpoints",
      "x-scalar-order": [
        "dino-api/tag/desktop/GET/desktop/update",
        "dino-api/tag/desktop/GET/desktop/update/download"
      ]
    },
    {
      "name": "Documents",
      "description": "Manage documents",
      "x-scalar-order": [
        "dino-api/tag/documents/GET/documents",
        "dino-api/tag/documents/GET/documents/{id}",
        "dino-api/tag/documents/DELETE/documents/{id}",
        "dino-api/tag/documents/POST/documents/{id}/presigned-url"
      ]
    },
    {
      "name": "Files",
      "description": "File operations",
      "x-scalar-order": [
        "dino-api/tag/files/GET/files/proxy",
        "dino-api/tag/files/GET/files/download/file",
        "dino-api/tag/files/GET/files/download/invoice"
      ]
    },
    {
      "name": "Inbox",
      "description": "Manage inbox items",
      "x-scalar-order": [
        "dino-api/tag/inbox/GET/inbox",
        "dino-api/tag/inbox/GET/inbox/{id}",
        "dino-api/tag/inbox/DELETE/inbox/{id}",
        "dino-api/tag/inbox/PATCH/inbox/{id}",
        "dino-api/tag/inbox/POST/inbox/{id}/presigned-url"
      ]
    },
    {
      "name": "Integrations",
      "description": "Integration endpoints",
      "x-scalar-order": [
        "dino-api/tag/integrations/GET/apps/slack/oauth-callback",
        "dino-api/tag/integrations/GET/apps/slack/install-url",
        "dino-api/tag/integrations/POST/apps/slack/interactions",
        "dino-api/tag/integrations/GET/apps/gmail/oauth-callback",
        "dino-api/tag/integrations/GET/apps/gmail/install-url",
        "dino-api/tag/integrations/GET/apps/outlook/oauth-callback",
        "dino-api/tag/integrations/GET/apps/outlook/install-url",
        "dino-api/tag/integrations/GET/apps/xero/oauth-callback",
        "dino-api/tag/integrations/GET/apps/xero/install-url",
        "dino-api/tag/integrations/GET/apps/quickbooks/oauth-callback",
        "dino-api/tag/integrations/GET/apps/quickbooks/install-url",
        "dino-api/tag/integrations/GET/apps/fortnox/oauth-callback",
        "dino-api/tag/integrations/GET/apps/fortnox/install-url"
      ]
    },
    {
      "name": "Invoice Payments",
      "description": "Invoice payment processing",
      "x-scalar-order": [
        "dino-api/tag/invoice-payments/GET/invoice-payments/connect-stripe",
        "dino-api/tag/invoice-payments/GET/invoice-payments/connect-stripe/callback",
        "dino-api/tag/invoice-payments/POST/invoice-payments/disconnect-stripe",
        "dino-api/tag/invoice-payments/POST/invoice-payments/payment-intent",
        "dino-api/tag/invoice-payments/GET/invoice-payments/stripe-status"
      ]
    },
    {
      "name": "Invoices",
      "description": "Manage invoices",
      "x-scalar-order": [
        "dino-api/tag/invoices/GET/invoices",
        "dino-api/tag/invoices/POST/invoices",
        "dino-api/tag/invoices/GET/invoices/payment-status",
        "dino-api/tag/invoices/GET/invoices/summary",
        "dino-api/tag/invoices/GET/invoices/{id}",
        "dino-api/tag/invoices/PUT/invoices/{id}",
        "dino-api/tag/invoices/DELETE/invoices/{id}"
      ]
    },
    {
      "name": "Notifications",
      "description": "Manage notifications",
      "x-scalar-order": [
        "dino-api/tag/notifications/GET/notifications",
        "dino-api/tag/notifications/PATCH/notifications/{notificationId}/status",
        "dino-api/tag/notifications/POST/notifications/update-all-status"
      ]
    },
    {
      "name": "OAuth",
      "description": "Register OAuth apps and run the authorization-code flow (`/oauth/authorize`, `/oauth/token`). Tokens are `Bearer mid_access_token_…` and work on **protected** APIs alongside session JWTs and team API keys. They do **not** authenticate public `/v1` agent-spend routes—use a Dino spending key or team API key for those.",
      "x-scalar-order": [
        "dino-api/tag/oauth/POST/oauth/register",
        "dino-api/tag/oauth/GET/oauth/authorize",
        "dino-api/tag/oauth/POST/oauth/authorize",
        "dino-api/tag/oauth/POST/oauth/token",
        "dino-api/tag/oauth/POST/oauth/revoke"
      ]
    },
    {
      "name": "Reports",
      "description": "Financial reports",
      "x-scalar-order": [
        "dino-api/tag/reports/GET/reports/revenue",
        "dino-api/tag/reports/GET/reports/profit",
        "dino-api/tag/reports/GET/reports/burn-rate",
        "dino-api/tag/reports/GET/reports/runway",
        "dino-api/tag/reports/GET/reports/expenses",
        "dino-api/tag/reports/GET/reports/spending"
      ]
    },
    {
      "name": "Search",
      "description": "Search endpoints",
      "x-scalar-order": [
        "dino-api/tag/search/GET/search"
      ]
    },
    {
      "name": "Tags",
      "description": "Manage tags",
      "x-scalar-order": [
        "dino-api/tag/tags/GET/tags",
        "dino-api/tag/tags/POST/tags",
        "dino-api/tag/tags/GET/tags/{id}",
        "dino-api/tag/tags/PATCH/tags/{id}",
        "dino-api/tag/tags/DELETE/tags/{id}"
      ]
    },
    {
      "name": "Teams",
      "description": "Manage teams",
      "x-scalar-order": [
        "dino-api/tag/teams/GET/teams",
        "dino-api/tag/teams/GET/teams/{id}",
        "dino-api/tag/teams/PATCH/teams/{id}",
        "dino-api/tag/teams/GET/teams/{id}/members"
      ]
    },
    {
      "name": "Tracker Entries",
      "description": "Manage time tracker entries",
      "x-scalar-order": [
        "dino-api/tag/tracker-entries/GET/tracker-entries",
        "dino-api/tag/tracker-entries/POST/tracker-entries",
        "dino-api/tag/tracker-entries/POST/tracker-entries/bulk",
        "dino-api/tag/tracker-entries/PATCH/tracker-entries/{id}",
        "dino-api/tag/tracker-entries/DELETE/tracker-entries/{id}"
      ]
    },
    {
      "name": "Tracker Projects",
      "description": "Manage tracker projects",
      "x-scalar-order": [
        "dino-api/tag/tracker-projects/GET/tracker-projects",
        "dino-api/tag/tracker-projects/POST/tracker-projects",
        "dino-api/tag/tracker-projects/PATCH/tracker-projects/{id}",
        "dino-api/tag/tracker-projects/GET/tracker-projects/{id}",
        "dino-api/tag/tracker-projects/DELETE/tracker-projects/{id}"
      ]
    },
    {
      "name": "Tracker Timer",
      "description": "Timer operations",
      "x-scalar-order": [
        "dino-api/tag/tracker-timer/POST/tracker-entries/timer/start",
        "dino-api/tag/tracker-timer/POST/tracker-entries/timer/stop",
        "dino-api/tag/tracker-timer/GET/tracker-entries/timer/current",
        "dino-api/tag/tracker-timer/GET/tracker-entries/timer/status"
      ]
    },
    {
      "name": "Transactions",
      "description": "Manage transactions",
      "x-scalar-order": [
        "dino-api/tag/transactions/GET/transactions",
        "dino-api/tag/transactions/POST/transactions",
        "dino-api/tag/transactions/GET/transactions/{id}",
        "dino-api/tag/transactions/PATCH/transactions/{id}",
        "dino-api/tag/transactions/DELETE/transactions/{id}",
        "dino-api/tag/transactions/POST/transactions/{transactionId}/attachments/{attachmentId}/presigned-url",
        "dino-api/tag/transactions/PATCH/transactions/bulk",
        "dino-api/tag/transactions/POST/transactions/bulk",
        "dino-api/tag/transactions/DELETE/transactions/bulk"
      ]
    },
    {
      "name": "Users",
      "description": "Manage users",
      "x-scalar-order": [
        "dino-api/tag/users/GET/users/me",
        "dino-api/tag/users/PATCH/users/me"
      ]
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints",
      "x-scalar-order": [
        "dino-api/tag/webhooks/POST/webhook/column",
        "dino-api/tag/webhooks/POST/webhook/increase",
        "dino-api/tag/webhooks/POST/webhook/inbox",
        "dino-api/tag/webhooks/POST/webhook/lithic-issuing",
        "dino-api/tag/webhooks/POST/webhook/lithic-issuing/auth-stream",
        "dino-api/tag/webhooks/POST/webhook/plaid",
        "dino-api/tag/webhooks/POST/webhook/polar",
        "dino-api/tag/webhooks/POST/webhook/stripe",
        "dino-api/tag/webhooks/POST/webhook/stripe-identity",
        "dino-api/tag/webhooks/POST/webhook/sumsub",
        "dino-api/tag/webhooks/POST/webhook/veriff",
        "dino-api/tag/webhooks/POST/webhook/persona",
        "dino-api/tag/webhooks/POST/webhook/onfido",
        "dino-api/tag/webhooks/POST/webhook/stripe-issuing",
        "dino-api/tag/webhooks/POST/webhook/teller",
        "dino-api/tag/webhooks/POST/webhook/unit"
      ]
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 300000,
      "exponent": 1.5
    },
    "statusCodes": [
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "components": {
    "securitySchemes": {
      "token": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer authentication. Most protected Dino APIs use OAuth or generic team API keys; the public agent-spend /v1 flow uses Dino spending keys.",
        "x-speakeasy-example": "DINO_API_KEY"
      },
      "dinoSpendKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Dino spending key used for the public agent-spend /v1 API. Present as Authorization: Bearer din_... or din_test_...",
        "x-speakeasy-example": "DINO_SPEND_KEY"
      },
      "workspaceApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Team workspace API key (dba_…) created in the dashboard. Use granular scopes: spend.read, spend.write, accounts.read. See GET /v1/accounts and team-key-specific query parameters on other /v1 routes.",
        "x-speakeasy-example": "DINO_TEAM_API_KEY"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code + PKCE. Use the issued access token on protected REST routes—not on public `/v1` spend endpoints (those require `din_…` or `dba_…` keys).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.dino.id/oauth/authorize",
            "tokenUrl": "https://dino-api-production.up.railway.app/oauth/token",
            "scopes": {
              "bank-accounts.read": "Read bank accounts",
              "bank-accounts.write": "Write bank accounts",
              "customers.read": "Read customers",
              "customers.write": "Write customers",
              "documents.read": "Read documents",
              "documents.write": "Write documents",
              "inbox.read": "Read inbox",
              "inbox.write": "Write inbox",
              "invoices.read": "Read invoices",
              "invoices.write": "Write invoices",
              "reports.read": "Read reports",
              "search.read": "Read search",
              "tags.read": "Read tags",
              "tags.write": "Write tags",
              "teams.read": "Read teams",
              "teams.write": "Write teams",
              "tracker-entries.read": "Read tracker entries",
              "tracker-entries.write": "Write tracker entries",
              "tracker-projects.read": "Read tracker projects",
              "tracker-projects.write": "Write tracker projects",
              "transactions.read": "Read transactions",
              "transactions.write": "Write transactions",
              "users.read": "Read users",
              "users.write": "Write users",
              "notifications.read": "Read notifications",
              "notifications.write": "Write notifications",
              "spend.read": "Read agent spend (team API key /v1)",
              "spend.write": "Create or cancel agent spend (team API key /v1)",
              "accounts.read": "List agent accounts and read balances (team API key /v1)"
            },
            "refreshUrl": "",
            "x-usePkce": "SHA-256"
          }
        }
      }
    },
    "schemas": {
      "OAuthErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code",
            "example": "invalid_request"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description",
            "example": "The request is missing a required parameter"
          },
          "error_uri": {
            "type": "string",
            "format": "uri",
            "description": "URI to a human-readable error page",
            "example": "https://dino.id/docs/oauth-api-endpoints"
          },
          "state": {
            "type": "string",
            "maxLength": 1024,
            "description": "Opaque state parameter from the original request",
            "example": "abc123xyz789_secure-random-state-value"
          }
        },
        "required": [
          "error"
        ]
      },
      "NotificationsResponseSchema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationSchema"
            },
            "description": "Array of notifications"
          },
          "meta": {
            "type": "object",
            "properties": {
              "cursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Cursor for pagination (null if no more pages)",
                "example": "40"
              },
              "hasPreviousPage": {
                "type": "boolean",
                "description": "Whether there are previous pages available",
                "example": true
              },
              "hasNextPage": {
                "type": "boolean",
                "description": "Whether there are more pages available",
                "example": false
              }
            },
            "required": [
              "cursor",
              "hasPreviousPage",
              "hasNextPage"
            ],
            "description": "Pagination metadata"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "NotificationSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the notification",
            "example": "b3b6e2c2-1f2a-4e3b-9c1d-2a4b6e2c21f2"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO timestamp when the notification was created",
            "example": "2024-04-15T09:00:00.000Z"
          },
          "teamId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the team",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the user (if applicable)",
            "example": "c2d3e4f5-a6b7-8901-bcde-f23456789012"
          },
          "type": {
            "type": "string",
            "description": "Type of notification",
            "example": "transactions_created"
          },
          "priority": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Priority level of the notification (1-3 = user notifications, 4-10 = system)",
            "example": 3
          },
          "source": {
            "type": "string",
            "enum": [
              "system",
              "user"
            ],
            "description": "Source of the notification",
            "example": "system"
          },
          "status": {
            "type": "string",
            "enum": [
              "unread",
              "read",
              "archived"
            ],
            "description": "Current status of the notification",
            "example": "unread"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": false,
            "description": "Additional metadata for the notification",
            "example": {
              "transactionCount": 5,
              "dateRange": {
                "from": "2024-04-01",
                "to": "2024-04-15"
              }
            }
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO timestamp when the notification was last used by the system",
            "example": "2024-04-15T11:00:00.000Z"
          }
        },
        "required": [
          "id",
          "createdAt",
          "teamId",
          "userId",
          "type",
          "priority",
          "source",
          "status",
          "metadata",
          "lastUsedAt"
        ]
      },
      "NotificationResponseSchema": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NotificationSchema"
              },
              {
                "description": "The updated notification"
              }
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdateAllNotificationsStatusResponseSchema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationSchema"
            },
            "description": "Array of updated notifications"
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdateAllNotificationsStatusSchema": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "unread",
              "read",
              "archived"
            ],
            "description": "The new status to apply to all notifications for the authenticated user",
            "example": "read"
          }
        },
        "required": [
          "status"
        ]
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the transaction",
            "example": "b3b7c8e2-1f2a-4c3d-9e4f-5a6b7c8d9e0f"
          },
          "name": {
            "type": "string",
            "description": "Name or description of the transaction",
            "example": "Office Supplies Purchase"
          },
          "amount": {
            "type": "number",
            "description": "Monetary amount of the transaction",
            "example": 150.75
          },
          "taxAmount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Tax amount of the transaction",
            "example": 15.07
          },
          "taxRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Tax rate of the transaction",
            "example": 10
          },
          "taxType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tax type of the transaction",
            "example": "VAT"
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the transaction in ISO 4217 format",
            "example": "USD"
          },
          "counterpartyName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the counterparty",
            "example": "Spotify AB"
          },
          "date": {
            "type": "string",
            "description": "Date and time of the transaction in ISO 8601 format",
            "example": "2024-05-01T12:00:00.000Z"
          },
          "category": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier of the category",
                "example": "office-supplies"
              },
              "name": {
                "type": "string",
                "description": "Display name of the category",
                "example": "Office Supplies"
              },
              "color": {
                "type": "string",
                "description": "Hex color code associated with the category for UI display",
                "example": "#FF5733"
              },
              "taxRate": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Tax rate of the category",
                "example": 10
              },
              "taxType": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Tax type of the category",
                "example": "VAT"
              },
              "slug": {
                "type": "string",
                "description": "URL-friendly slug of the category",
                "example": "office-supplies"
              }
            },
            "required": [
              "id",
              "name",
              "color",
              "taxRate",
              "taxType",
              "slug"
            ],
            "description": "Category information assigned to the transaction for organization",
            "example": {
              "id": "office-supplies",
              "name": "Office Supplies",
              "color": "#FF5733",
              "slug": "office-supplies",
              "taxRate": 10,
              "taxType": "VAT"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction",
            "example": "completed"
          },
          "internal": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the transaction is internal (between own accounts)",
            "example": false
          },
          "recurring": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the transaction is part of a recurring series",
            "example": false
          },
          "manual": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the transaction was created manually (via API/form) rather than imported from bank connections",
            "example": false
          },
          "frequency": {
            "type": [
              "string",
              "null"
            ],
            "description": "Frequency of the recurring transaction if applicable (weekly, monthly, annually, irregular)",
            "example": "monthly"
          },
          "isFulfilled": {
            "type": "boolean",
            "description": "Whether the transaction has been fulfilled or processed",
            "example": true
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional note or memo attached to the transaction",
            "example": "Paid with company credit card for office renovation"
          },
          "account": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier of the bank account",
                "example": "a43dc3a5-6925-4d91-ac9c-4c1a34bdb388"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Display name of the bank account",
                "example": "Company Credit Card"
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Currency of the bank account in ISO 4217 format",
                "example": "USD"
              },
              "connection": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier of the bank connection",
                    "example": "a43dc3a5-6925-4d91-ac9c-4c1a34bdb388"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the bank institution",
                    "example": "Chase Bank"
                  },
                  "logoUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "URL to the bank institution's logo image",
                    "example": "https://cdn.dino.id/logos/chase-bank.png"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "logoUrl"
                ],
                "description": "Bank connection information associated with the account. Null for manual accounts.",
                "example": {
                  "id": "a43dc3a5-6925-4d91-ac9c-4c1a34bdb388",
                  "name": "Chase Bank",
                  "logoUrl": "https://cdn.dino.id/logos/chase-bank.png"
                }
              }
            },
            "required": [
              "id",
              "name",
              "currency",
              "connection"
            ],
            "description": "Bank account information associated with the transaction. Null when no account is linked.",
            "example": {
              "id": "a43dc3a5-6925-4d91-ac9c-4c1a34bdb388",
              "name": "Company Credit Card",
              "currency": "USD",
              "connection": {
                "id": "a43dc3a5-6925-4d91-ac9c-4c1a34bdb388",
                "name": "Chase Bank",
                "logoUrl": "https://cdn.dino.id/logos/chase-bank.png"
              }
            }
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the tag",
                  "example": "b7e2f8c1-3d4a-4e2b-9f1a-2c3d4e5f6a7b"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Display name of the tag",
                  "example": "invoice"
                }
              },
              "required": [
                "id",
                "name"
              ]
            },
            "description": "Array of tags associated with the transaction for categorization and filtering",
            "example": [
              {
                "id": "b7e2f8c1-3d4a-4e2b-9f1a-2c3d4e5f6a7b",
                "name": "invoice"
              },
              {
                "id": "c8e2f8c1-3d4a-4e2b-9f1a-2c3d4e5f6a7c",
                "name": "travel"
              }
            ]
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the attachment",
                  "example": "a43dc3a5-6925-4d91-ac9c-4c1a34bdb388"
                },
                "path": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of path segments for the attachment file storage location",
                  "example": [
                    "dd6a039e-d071-423a-9a4d-9ba71325d890",
                    "transactions",
                    "1d2c3753-79d7-45b0-9c40-60f482bac8e8",
                    "receipt.pdf"
                  ]
                },
                "size": {
                  "type": "number",
                  "description": "Size of the attachment file in bytes",
                  "example": 1928716
                },
                "type": {
                  "type": "string",
                  "description": "MIME type of the attachment file",
                  "example": "application/pdf"
                },
                "filename": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Original filename of the attachment when uploaded",
                  "example": "receipt.pdf"
                }
              },
              "required": [
                "id",
                "path",
                "size",
                "type",
                "filename"
              ]
            },
            "description": "Array of file attachments associated with the transaction (receipts, invoices, etc.)",
            "example": [
              {
                "id": "b7e2f8c1-3d4a-4e2b-9f1a-2c3d4e5f6a7b",
                "path": [
                  "e1f2d3c4-b5a6-7d8e-9f0a-1b2c3d4e5f6a",
                  "transactions",
                  "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                  "receipt.pdf"
                ],
                "size": 1928716,
                "type": "application/pdf",
                "filename": "receipt.pdf"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "amount",
          "taxAmount",
          "taxRate",
          "taxType",
          "currency",
          "counterpartyName",
          "date",
          "category",
          "status",
          "internal",
          "recurring",
          "manual",
          "frequency",
          "isFulfilled",
          "note",
          "account",
          "tags",
          "attachments"
        ]
      },
      "CreateTransactionAttachment": {
        "type": "object",
        "properties": {
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path(s) of the attachment file(s)."
          },
          "name": {
            "type": "string",
            "description": "Name of the attachment file."
          },
          "size": {
            "type": "number",
            "description": "Size of the attachment file in bytes."
          },
          "type": {
            "type": "string",
            "description": "MIME type of the attachment file."
          }
        },
        "required": [
          "path",
          "name",
          "size",
          "type"
        ]
      },
      "TagsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagResponse"
            },
            "description": "List of tags."
          }
        },
        "required": [
          "data"
        ]
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the tag.",
            "example": "b3b7c8e2-1f2a-4c3d-9e4f-5a6b7c8d9e0f"
          },
          "name": {
            "type": "string",
            "description": "The name of the tag.",
            "example": "Important"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CreateTag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the tag.",
            "example": "Important"
          }
        },
        "required": [
          "name"
        ]
      },
      "GetRevenueResponseSchema": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/RevenueSummary"
          },
          "meta": {
            "$ref": "#/components/schemas/RevenueMeta"
          },
          "result": {
            "$ref": "#/components/schemas/RevenueResultArray"
          }
        },
        "required": [
          "summary",
          "meta",
          "result"
        ]
      },
      "RevenueSummary": {
        "type": "object",
        "properties": {
          "currentTotal": {
            "type": "number",
            "description": "Total revenue for the current period",
            "example": 10000
          },
          "prevTotal": {
            "type": "number",
            "description": "Total revenue for the previous period",
            "example": 8000
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "currentTotal",
          "prevTotal",
          "currency"
        ]
      },
      "RevenueMeta": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "revenue"
            ],
            "description": "Type of metric",
            "example": "revenue"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "type",
          "currency"
        ]
      },
      "RevenueResultArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RevenueResultItem"
        }
      },
      "RevenueResultItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the metric (ISO 8601)",
            "example": "2023-01-31"
          },
          "percentage": {
            "$ref": "#/components/schemas/RevenuePercentage"
          },
          "current": {
            "$ref": "#/components/schemas/RevenueCurrent"
          },
          "previous": {
            "$ref": "#/components/schemas/RevenuePrevious"
          }
        },
        "required": [
          "date",
          "percentage",
          "current",
          "previous"
        ]
      },
      "RevenuePercentage": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Percentage change compared to previous period",
            "example": 25
          },
          "status": {
            "type": "string",
            "enum": [
              "negative",
              "positive"
            ],
            "description": "Status of the change",
            "example": "positive"
          }
        },
        "required": [
          "value",
          "status"
        ]
      },
      "RevenueCurrent": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the current value",
            "example": "2023-01-31"
          },
          "value": {
            "type": "number",
            "description": "Current value",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "date",
          "value",
          "currency"
        ]
      },
      "RevenuePrevious": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the previous value",
            "example": "2022-01-31"
          },
          "value": {
            "type": "number",
            "description": "Previous value",
            "example": 800
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "date",
          "value",
          "currency"
        ]
      },
      "GetProfitResponseSchema": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/ProfitSummary"
          },
          "meta": {
            "$ref": "#/components/schemas/ProfitMeta"
          },
          "result": {
            "$ref": "#/components/schemas/ProfitResultArray"
          }
        },
        "required": [
          "summary",
          "meta",
          "result"
        ]
      },
      "ProfitSummary": {
        "type": "object",
        "properties": {
          "currentTotal": {
            "type": "number",
            "description": "Total profit for the current period",
            "example": 10000
          },
          "prevTotal": {
            "type": "number",
            "description": "Total profit for the previous period",
            "example": 8000
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "currentTotal",
          "prevTotal",
          "currency"
        ]
      },
      "ProfitMeta": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profit"
            ],
            "description": "Type of metric",
            "example": "profit"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "type",
          "currency"
        ]
      },
      "ProfitResultArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ProfitResultItem"
        }
      },
      "ProfitResultItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the metric (ISO 8601)",
            "example": "2023-01-31"
          },
          "percentage": {
            "$ref": "#/components/schemas/ProfitPercentage"
          },
          "current": {
            "$ref": "#/components/schemas/ProfitCurrent"
          },
          "previous": {
            "$ref": "#/components/schemas/ProfitPrevious"
          }
        },
        "required": [
          "date",
          "percentage",
          "current",
          "previous"
        ]
      },
      "ProfitPercentage": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Percentage change compared to previous period",
            "example": 25
          },
          "status": {
            "type": "string",
            "enum": [
              "negative",
              "positive"
            ],
            "description": "Status of the change",
            "example": "positive"
          }
        },
        "required": [
          "value",
          "status"
        ]
      },
      "ProfitCurrent": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the current value",
            "example": "2023-01-31"
          },
          "value": {
            "type": "number",
            "description": "Current value",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "date",
          "value",
          "currency"
        ]
      },
      "ProfitPrevious": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the previous value",
            "example": "2022-01-31"
          },
          "value": {
            "type": "number",
            "description": "Previous value",
            "example": 800
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "USD"
          }
        },
        "required": [
          "date",
          "value",
          "currency"
        ]
      },
      "GetBurnRateResponseSchema": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BurnRateItem"
        }
      },
      "BurnRateItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for the burn rate value",
            "example": "2024-01-01"
          },
          "value": {
            "type": "number",
            "description": "Burn rate value for the given date",
            "example": 647366.44
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "example": "SEK"
          }
        },
        "required": [
          "date",
          "value",
          "currency"
        ]
      },
      "GetRunwayResponseSchema": {
        "type": "object",
        "properties": {
          "months": {
            "type": "number",
            "description": "Number of months of runway remaining, based on current burn rate and available cash."
          },
          "medianBurn": {
            "type": "number",
            "description": "Median monthly burn rate (last 3 completed months) used to compute runway."
          }
        },
        "required": [
          "months",
          "medianBurn"
        ]
      },
      "GetExpensesResponseSchema": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "averageExpense": {
                "type": "number",
                "description": "Average expense over the period",
                "example": 121054.86
              },
              "currency": {
                "type": "string",
                "description": "Currency code (ISO 4217)",
                "example": "SEK"
              }
            },
            "required": [
              "averageExpense",
              "currency"
            ]
          },
          "meta": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of metric",
                "example": "expense"
              },
              "currency": {
                "type": "string",
                "description": "Currency code (ISO 4217)",
                "example": "SEK"
              }
            },
            "required": [
              "type",
              "currency"
            ]
          },
          "result": {
            "$ref": "#/components/schemas/ExpensesResultArray"
          }
        },
        "required": [
          "summary",
          "meta",
          "result"
        ]
      },
      "ExpensesResultArray": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string",
              "description": "Date for the expense value",
              "example": "2024-01-01 00:00:00"
            },
            "value": {
              "type": "number",
              "description": "Expense value for the given date",
              "example": 637898.68
            },
            "currency": {
              "type": "string",
              "description": "Currency code (ISO 4217)",
              "example": "SEK"
            },
            "recurring": {
              "type": "number",
              "description": "Recurring expense value for the given date",
              "example": 9467.76
            },
            "total": {
              "type": "number",
              "description": "Total expense for the given date",
              "example": 647366.44
            }
          },
          "required": [
            "date",
            "value",
            "currency",
            "recurring",
            "total"
          ]
        }
      },
      "SpendingResultArray": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Spending category name",
              "example": "Taxes"
            },
            "slug": {
              "type": "string",
              "description": "Spending category slug",
              "example": "taxes"
            },
            "amount": {
              "type": "number",
              "description": "Amount spent in this category",
              "example": -1256445
            },
            "currency": {
              "type": "string",
              "description": "Currency code (ISO 4217)",
              "example": "SEK"
            },
            "color": {
              "type": "string",
              "description": "Color code for the category",
              "example": "#8492A6"
            },
            "percentage": {
              "type": "number",
              "description": "Percentage of total spending for this category",
              "example": 44
            }
          },
          "required": [
            "name",
            "slug",
            "amount",
            "currency",
            "color",
            "percentage"
          ]
        }
      },
      "TrackerProjectsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "hasNextPage": {
                "type": "boolean",
                "description": "Whether there are more projects available on the next page",
                "example": true
              },
              "hasPreviousPage": {
                "type": "boolean",
                "description": "Whether there are more projects available on the previous page",
                "example": false
              }
            },
            "required": [
              "hasNextPage",
              "hasPreviousPage"
            ],
            "description": "Pagination metadata for the projects response"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackerProjectResponse"
            },
            "description": "Array of tracker projects matching the query criteria"
          }
        },
        "required": [
          "meta",
          "data"
        ]
      },
      "TrackerProjectResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the project",
            "example": "b7e6c8e2-1f2a-4c3b-9e2d-1a2b3c4d5e6f"
          },
          "name": {
            "type": "string",
            "description": "Name of the project",
            "example": "Website Redesign"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Detailed description of the project",
            "example": "Complete redesign of the company website with modern UI/UX and improved performance"
          },
          "status": {
            "type": "string",
            "enum": [
              "in_progress",
              "completed"
            ],
            "description": "Current status of the project",
            "example": "in_progress"
          },
          "estimate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Estimated total hours required to complete the project",
            "example": 120
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "description": "Currency code for the project rate in ISO 4217 format",
            "example": "USD"
          },
          "createdAt": {
            "type": "string",
            "description": "Date and time when the project was created in ISO 8601 format",
            "example": "2024-05-01T12:00:00.000Z"
          },
          "totalDuration": {
            "type": [
              "number",
              "null"
            ],
            "description": "Total tracked time for the project in seconds",
            "example": 43200
          },
          "totalAmount": {
            "type": "number",
            "description": "Total monetary amount earned from the project",
            "example": 3600
          },
          "customer": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier of the customer",
                "example": "a1b2c3d4-e5f6-7890-abcd-1234567890ef"
              },
              "name": {
                "type": "string",
                "description": "Name of the customer or organization",
                "example": "Acme Corporation"
              },
              "website": {
                "type": "string",
                "description": "Website URL of the customer",
                "example": "https://acme.com"
              }
            },
            "required": [
              "id",
              "name",
              "website"
            ],
            "description": "Customer information associated with the project"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Unique identifier of the tag",
                  "example": "d1e2f3a4-b5c6-7890-abcd-1234567890ef"
                },
                "name": {
                  "type": "string",
                  "description": "Display name of the tag",
                  "example": "Design"
                }
              },
              "required": [
                "id",
                "name"
              ]
            },
            "description": "Array of tags associated with the project"
          },
          "users": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Unique identifier of the user",
                  "example": "f1e2d3c4-b5a6-7890-abcd-1234567890ef"
                },
                "fullName": {
                  "type": "string",
                  "description": "Full name of the user",
                  "example": "Jane Doe"
                },
                "avatarUrl": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to the user's avatar image",
                  "example": "https://cdn.dino.id/avatar.jpg"
                }
              },
              "required": [
                "id",
                "fullName",
                "avatarUrl"
              ]
            },
            "description": "Array of users assigned to work on the project"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "status",
          "estimate",
          "currency",
          "createdAt",
          "totalDuration",
          "totalAmount",
          "customer",
          "tags",
          "users"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Internal Server Error"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 500
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/oauth/register": {
      "post": {
        "summary": "Dynamic Client Registration",
        "operationId": "postOAuthRegister",
        "description": "Register an OAuth client dynamically (RFC 7591). Used by MCP clients like ChatGPT and Claude.",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "Human-readable name of the client",
                    "example": "ChatGPT"
                  },
                  "redirect_uris": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "description": "Array of redirect URIs",
                    "example": [
                      "https://chatgpt.com/connector/oauth/callback"
                    ]
                  },
                  "grant_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "authorization_code",
                      "refresh_token"
                    ],
                    "description": "Requested grant types",
                    "example": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "token_endpoint_auth_method": {
                    "type": "string",
                    "default": "none",
                    "description": "Token endpoint authentication method",
                    "example": "none"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Space-separated requested scopes",
                    "example": "transactions.read invoices.read"
                  },
                  "logo_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the client logo",
                    "example": "https://example.com/logo.png"
                  },
                  "client_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the client homepage",
                    "example": "https://example.com"
                  },
                  "response_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Requested response types",
                    "example": [
                      "code"
                    ]
                  }
                },
                "required": [
                  "client_name",
                  "redirect_uris"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "description": "Assigned client ID",
                      "example": "mid_client_abcdef123456789"
                    },
                    "client_name": {
                      "type": "string",
                      "description": "Human-readable name of the client",
                      "example": "ChatGPT"
                    },
                    "redirect_uris": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      },
                      "description": "Registered redirect URIs",
                      "example": [
                        "https://chatgpt.com/connector/oauth/callback"
                      ]
                    },
                    "grant_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Granted grant types",
                      "example": [
                        "authorization_code",
                        "refresh_token"
                      ]
                    },
                    "token_endpoint_auth_method": {
                      "type": "string",
                      "description": "Token endpoint authentication method",
                      "example": "none"
                    },
                    "response_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Supported response types",
                      "example": [
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "client_id",
                    "client_name",
                    "redirect_uris",
                    "grant_types",
                    "token_endpoint_auth_method",
                    "response_types"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "summary": "OAuth Authorization Endpoint",
        "operationId": "getOAuthAuthorization",
        "description": "Initiate OAuth authorization flow and get consent screen information",
        "tags": [
          "OAuth"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ],
              "description": "OAuth response type, must be 'code'",
              "example": "code"
            },
            "required": true,
            "description": "OAuth response type, must be 'code'",
            "name": "response_type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Client ID of the OAuth application",
              "example": "mid_client_abcdef123456789"
            },
            "required": true,
            "description": "Client ID of the OAuth application",
            "name": "client_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Redirect URI for OAuth callback",
              "example": "https://myapp.com/callback"
            },
            "required": true,
            "description": "Redirect URI for OAuth callback",
            "name": "redirect_uri",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Space-separated list of requested scopes",
              "example": "transactions.read invoices.read"
            },
            "required": true,
            "description": "Space-separated list of requested scopes",
            "name": "scope",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "description": "Opaque state parameter for CSRF protection",
              "example": "abc123xyz789_secure-random-state-value"
            },
            "required": true,
            "description": "Opaque state parameter for CSRF protection",
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Code challenge for PKCE (S256)",
              "example": "E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM"
            },
            "required": false,
            "description": "Code challenge for PKCE (S256)",
            "name": "code_challenge",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "S256"
              ],
              "description": "Code challenge method, must be S256",
              "example": "S256"
            },
            "required": false,
            "description": "Code challenge method, must be S256",
            "name": "code_challenge_method",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Resource parameter per RFC 9728 — identifies the MCP server",
              "example": "https://api.dino.id"
            },
            "required": false,
            "description": "Resource parameter per RFC 9728 — identifies the MCP server",
            "name": "resource",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Application information for consent screen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Application ID",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "name": {
                      "type": "string",
                      "description": "Application name",
                      "example": "My Raycast Extension"
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Application description",
                      "example": "A Raycast extension for managing transactions"
                    },
                    "overview": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Application overview",
                      "example": "This application provides advanced transaction management features including:\n- Real-time sync\n- Advanced filtering"
                    },
                    "developerName": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The person or company developing this application",
                      "example": "Acme Corp"
                    },
                    "logoUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Application logo URL",
                      "example": "https://example.com/logo.png"
                    },
                    "website": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Application website",
                      "example": "https://myapp.com"
                    },
                    "installUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "An optional URL for installing the application",
                      "example": "https://myapp.com/install"
                    },
                    "screenshots": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      },
                      "description": "Up to 4 screenshots that will be displayed on the apps page",
                      "example": [
                        "https://example.com/screenshot1.png",
                        "https://example.com/screenshot2.png"
                      ]
                    },
                    "clientId": {
                      "type": "string",
                      "description": "Client ID",
                      "example": "mid_client_abcdef123456789"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Requested scopes",
                      "example": [
                        "transactions.read",
                        "invoices.read"
                      ]
                    },
                    "redirectUri": {
                      "type": "string",
                      "format": "uri",
                      "description": "Redirect URI",
                      "example": "https://myapp.com/callback"
                    },
                    "state": {
                      "type": "string",
                      "maxLength": 1024,
                      "description": "Opaque state parameter",
                      "example": "abc123xyz789_secure-random-state-value"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "pending",
                        "approved",
                        "rejected"
                      ],
                      "description": "Application verification status",
                      "example": "approved"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "overview",
                    "developerName",
                    "logoUrl",
                    "website",
                    "installUrl",
                    "screenshots",
                    "clientId",
                    "scopes",
                    "redirectUri",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "OAuth Authorization Decision",
        "operationId": "postOAuthAuthorization",
        "description": "Process user's authorization decision (allow/deny)",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Client ID of the OAuth application",
                    "example": "mid_client_abcdef123456789"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "allow",
                      "deny"
                    ],
                    "description": "User's authorization decision",
                    "example": "allow"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "bank-accounts.read",
                        "bank-accounts.write",
                        "customers.read",
                        "customers.write",
                        "compliance.read",
                        "compliance.write",
                        "documents.read",
                        "documents.write",
                        "inbox.read",
                        "inbox.write",
                        "invoices.read",
                        "invoices.write",
                        "reports.read",
                        "search.read",
                        "tags.read",
                        "tags.write",
                        "teams.read",
                        "teams.write",
                        "tracker-entries.read",
                        "tracker-entries.write",
                        "tracker-projects.read",
                        "tracker-projects.write",
                        "transactions.read",
                        "transactions.write",
                        "users.read",
                        "users.write",
                        "notifications.read",
                        "notifications.write",
                        "spend.read",
                        "spend.write",
                        "accounts.read",
                        "payment_requests.read",
                        "payment_requests.create",
                        "apis.all",
                        "apis.read"
                      ]
                    },
                    "description": "Scopes the user has approved",
                    "example": [
                      "transactions.read",
                      "invoices.read"
                    ]
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Redirect URI for OAuth callback",
                    "example": "https://myapp.com/callback"
                  },
                  "state": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024,
                    "description": "Opaque state parameter for CSRF protection",
                    "example": "abc123xyz789_secure-random-state-value"
                  },
                  "code_challenge": {
                    "type": "string",
                    "description": "Code challenge for PKCE (S256 method assumed)",
                    "example": "E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM"
                  },
                  "teamId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Team ID to authorize the application for",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  }
                },
                "required": [
                  "client_id",
                  "decision",
                  "scopes",
                  "redirect_uri",
                  "teamId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization decision processed, returns redirect URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "redirect_url"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "redirect_url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "redirect_url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "OAuth Token Exchange",
        "operationId": "postOAuthToken",
        "description": "Exchange authorization code for access token or refresh an access token. Accepts application/json or application/x-www-form-urlencoded.",
        "tags": [
          "OAuth"
        ],
        "responses": {
          "200": {
            "description": "Token exchange successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Access token for API requests",
                      "example": "mid_access_token_abcdef123456789"
                    },
                    "token_type": {
                      "type": "string",
                      "enum": [
                        "Bearer"
                      ],
                      "description": "Token type, always 'Bearer'",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "number",
                      "description": "Token expiration time in seconds",
                      "example": 3600
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Refresh token for obtaining new access tokens",
                      "example": "mid_refresh_token_abcdef123456789"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Space-separated list of granted scopes",
                      "example": "transactions.read invoices.read"
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in",
                    "refresh_token",
                    "scope"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "OAuth Token Revocation",
        "operationId": "postOAuthRevoke",
        "description": "Revoke an access token or refresh token. Accepts application/json or application/x-www-form-urlencoded.",
        "tags": [
          "OAuth"
        ],
        "responses": {
          "200": {
            "description": "Token revocation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/column": {
      "post": {
        "summary": "Column webhook handler",
        "operationId": "columnWebhook",
        "description": "Receives Column platform events. Verifies Column-Signature (HMAC-SHA256 of raw body). Respond quickly with 2XX; extend with async processing as needed.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or payload"
          },
          "503": {
            "description": "Signing secret not configured"
          }
        }
      }
    },
    "/webhook/increase": {
      "post": {
        "summary": "Increase webhook handler",
        "operationId": "increaseWebhook",
        "description": "Receives Increase Event notifications (Standard Webhooks). Verifies webhook-id, webhook-timestamp, and webhook-signature, then acknowledges with 2XX. Fetch associated objects from the Increase API when you need full resource details.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or payload"
          },
          "503": {
            "description": "Signing secret not configured"
          }
        }
      }
    },
    "/webhook/inbox": {
      "post": {
        "summary": "Inbox webhook",
        "operationId": "inboxWebhook",
        "description": "Webhook endpoint for receiving inbox emails from Postmark",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Invalid IP address"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhook/lithic-issuing": {
      "post": {
        "summary": "Lithic Issuing webhook handler",
        "operationId": "lithicIssuingWebhook",
        "description": "Handles asynchronous Lithic Issuing webhook events (authorization.advice, transaction, card.*).",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or payload"
          }
        }
      }
    },
    "/webhook/lithic-issuing/auth-stream": {
      "post": {
        "summary": "Lithic JIT authorization stream",
        "operationId": "lithicAuthStream",
        "description": "Synchronous Lithic auth-stream callback. Returns APPROVED/DECLINED and reserves funds in the wallet ledger.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Auth decision",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "approve_response": {
                      "type": "string",
                      "enum": [
                        "APPROVED",
                        "DECLINED"
                      ]
                    },
                    "decline_reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "approve_response"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or payload"
          }
        }
      }
    },
    "/webhook/plaid": {
      "post": {
        "summary": "Plaid webhook handler",
        "operationId": "plaidWebhook",
        "description": "Handles Plaid webhook events for transaction updates and item status changes. Verifies the Plaid-Verification JWT signature.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid webhook payload"
          },
          "401": {
            "description": "Invalid webhook signature"
          }
        }
      }
    },
    "/webhook/polar": {
      "post": {
        "summary": "Polar webhook handler",
        "operationId": "polarWebhook",
        "description": "Handles Polar webhook events for subscription changes. Verifies webhook signature and processes subscription events.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid webhook signature or payload"
          },
          "500": {
            "description": "Failed to process webhook event (will trigger retry)"
          }
        }
      }
    },
    "/webhook/stripe": {
      "post": {
        "summary": "Stripe webhook handler",
        "operationId": "stripeWebhook",
        "description": "Handles Stripe webhook events for invoice payments. Verifies webhook signature and processes payment events.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid webhook signature or payload"
          }
        }
      }
    },
    "/webhook/stripe-identity": {
      "post": {
        "summary": "Stripe Identity webhook handler",
        "operationId": "stripeIdentityWebhook",
        "description": "Updates team_bank_profile when identity verification sessions complete.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/sumsub": {
      "post": {
        "summary": "Sumsub KYC/KYB webhook",
        "operationId": "sumsubWebhook",
        "description": "Receives applicant review events from Sumsub and updates the managed entity KYC status.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/veriff": {
      "post": {
        "summary": "Veriff KYC/KYB webhook",
        "operationId": "veriffWebhook",
        "description": "Receives decision events from Veriff and updates the managed entity KYC status.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/persona": {
      "post": {
        "summary": "Persona KYC/KYB webhook",
        "operationId": "personaWebhook",
        "description": "Receives inquiry events from Persona and updates the managed entity KYC status.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/onfido": {
      "post": {
        "summary": "Onfido KYC/KYB webhook",
        "operationId": "onfidoWebhook",
        "description": "Receives check.completed events from Onfido and updates the managed entity KYC status.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/stripe-issuing": {
      "post": {
        "summary": "Stripe Issuing webhook handler",
        "operationId": "stripeIssuingWebhook",
        "description": "Handles Stripe Issuing webhook events. Verifies webhook signature and persists an audit trail.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
[...]
